* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #f9f9fd;
}
.img {
  display: inline-block;
  background-size: contain;
}
.product {
  width: 370px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.product:hover .product-action {
  opacity: 1;
}
.product-thumb:hover::before {
  opacity: 1;
}
.product-thumb {
  position: relative;
}
.product-thumb::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);
  opacity: 0;
}
.product-meta {
  padding: 15px;
}
.icon {
  width: 32px;
  height: 32px;
  /* fill: rgb(194, 12, 12); */
}
.product-name {
  margin-top: 0;
  margin-bottom: 10px;
}
.product-price {
  margin-top: 0;
  margin-bottom: 0;
}
.product-action {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  outline: 3px solid orange;
  display: flex;

  opacity: 0;
}
.box-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: red;
}
.box-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: green;
}
